= form_for @milkshake do |f|
  = f.text_field :order_name, class: 'form-control focusedInput', placeholder: "Type Order Name Here..."
  = f.select :milk, options_for_select(["Select One",'2% Milk', 'Skim Milk', 'Whole Milk'] ), {}, { class: 'form-control form-control' }
  = f.select :price, options_for_select(["Select One",'4', '6'] ), {}, { class: 'form-control form-control' }
  =f.submit "Purchase", class: 'btn btn-success btn-block'




  / - @ice_cream_flavor.each do |flavor|
  /   = check_box_tag @ice_cream_flavors[], ice_cream_flavor.id
  /   %p3= ice_cream_flavor.flavor
  /   %br